@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
font-family: 'Gotham Black';
src: url('./fonts/GOTHAM-BLACK.OTF') format('opentype');
}

@font-face {
font-family: 'Gotham Black Italic';
src: url('./fonts/GOTHAM-BLACKITA.OTF') format('opentype');
font-style: italic;
}

@font-face {
font-family: 'Gotham Bold';
src: url('./fonts/GOTHAM-BOLD.OTF') format('opentype');
font-weight: bold;
}

@font-face {
font-family: 'Gotham Bold Italic';
src: url('./fonts/GOTHAM-BOLDITA.OTF') format('opentype');
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'Gotham Book';
src: url('./fonts/GOTHAM-BOOK.OTF') format('opentype');
font-weight: normal;
}

@font-face {
font-family: 'Gotham Book Italic';
src: url('./fonts/GOTHAM-BOOKITA.OTF') format('opentype');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'Gotham Light';
src: url('./fonts/GOTHAM-LIGHT.OTF') format('opentype');
font-weight: 300;
}

@font-face {
font-family: 'Gotham Light Italic';
src: url('./fonts/GOTHAM-LIGHTITA.OTF') format('opentype');
font-weight: 300;
font-style: italic;
}

@font-face {
font-family: 'Gotham Medium';
src: url('./fonts/GOTHAM-MEDIUM.otf') format('opentype');
font-weight: 500;
}

@font-face {
font-family: 'Gotham Medium Italic';
src: url('./fonts/GOTHAM-MEDIUMITA.otf') format('opentype');
font-weight: 500;
font-style: italic;
}

@font-face {
font-family: 'Gotham Thin';
src: url('./fonts/GOTHAM-THIN.OTF') format('opentype');
font-weight: 100;
}

@font-face {
font-family: 'Gotham Thin Italic';
src: url('./fonts/GOTHAM-THINITA.OTF') format('opentype');
font-weight: 100;
font-style: italic;
}

@font-face {
font-family: 'Gotham Ultra';
src: url('./fonts/GOTHAM-ULTRA.OTF') format('opentype');
font-weight: 800;
}

@font-face {
font-family: 'Gotham Ultra Italic';
src: url('./fonts/GOTHAM-ULTRAITA.OTF') format('opentype');
font-weight: 800;
font-style: italic;
}

@font-face {
    font-family: 'Gotham XLight';
    src: url('./fonts/GOTHAM-XLIGHT.OTF') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Gotham XLight Italic';
    src: url('./fonts/GOTHAM-XLIGHTITA.OTF')  format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Black';
    src: url('./fonts/GOTHAMNARROW-BLACK.OTF') format('opentype');
}

@font-face {
    font-family: 'Gotham Narrow Black Italic';
    src: url('./fonts/GOTHAMNARROW-BLACKITALIC.OTF') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Bold';
    src: url('./fonts/GOTHAMNARROW-BOLD.OTF') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Narrow Bold Italic';
    src: url('./fonts/GOTHAMNARROW-BOLDITALIC.OTF') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('./fonts/GOTHAMNARROW-BOOK.OTF') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Narrow Book Italic';
    src: url('./fonts/GOTHAMNARROW-BOOKITALIC.OTF') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Light';
    src: url('./fonts/GOTHAMNARROW-LIGHT.OTF') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham Narrow Light Italic';
    src: url('./fonts/GOTHAMNARROW-LIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./fonts/GOTHAMNARROW-MEDIUM.OTF') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Narrow Medium Italic';
    src: url('./fonts/GOTHAMNARROW-MEDIUMITALIC.OTF') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Thin';
    src: url('./fonts/GOTHAMNARROW-THIN.OTF') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Gotham Narrow Thin Italic';
    src: url('./fonts/GOTHAMNARROW-THINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('./fonts/GOTHAMNARROW-ULTRA.OTF') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Gotham Narrow Ultra Italic';
    src: url('./fonts/GOTHAMNARROW-ULTRAITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow XLight';
    src: url('./fonts/GOTHAMNARROW-XLIGHT.OTF') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Gotham Narrow XLight Italic';
    src: url('./fonts/GOTHAMNARROW-XLIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}


.button-menu {
    display: flex;
    flex-direction: column;
    width: 1.78rem;
    height: 1.78rem;
    border: 0;
    background: transparent;
    gap: .5rem;
}

.button-menu > div {
    background-color: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.button-menu[aria-expanded="true"] div:first-child {
    transform: rotate(45deg);
}

.button-menu[aria-expanded="true"] div:nth-child(2) {
    opacity: 0;
}

.button-menu[aria-expanded="true"] div:last-child {
    transform: rotate(-45deg);
}

/* Ajusta el alto de los slides al 80% del alto del viewport */
.image-gallery-slides {
    max-height: 80vh;
}

/* Ajusta el alto del contenedor de las imágenes al 80% del alto del viewport */
.react-image-gallery .image-gallery-slide .image-gallery-image {
    max-height: 80vh;
}

/* Ajusta el alto de las imágenes al 100% del contenedor */
.react-image-gallery .image-gallery-image {
    height: 100%;
    object-fit: contain; /* Para mantener las proporciones de la imagen */
}

.custom-underline {
    text-underline-offset: 10px; /* Ajusta este valor para controlar el espacio entre el subrayado y el texto */
}

.scale-up-vertical-top{animation:scale-up-vertical-top 0.4s linear} @keyframes scale-up-vertical-top{0%{transform:scaleY(.4);transform-origin:center top}100%{transform:scaleY(1);transform-origin:center top}}

.line-break{
    white-space: 'pre-wrap';
}